@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Robotor:wght@500&display=swap');

body {
    font-family: Roboto, sans-serif;

}

.navbar {
    background-color: #221c1b;
}

.navbar-brand,
.nav-link {
    color: #f0ebdd !important;
}

/* Hero section */
.dark-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/extraction.png");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.hero .container {
    height: 100vh;
}


.hero-container {
    color: #f0ebdd !important;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
}

/* End of Hero section styles */

/* About section styles */

#about {
    background-color: #f0ebdd;
}

h2 {
    color: #221c1b;
    text-align: center;
    text-decoration: underline;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 30px;
}

h2+p {
    text-align: center;
    font-size: 1.5em;
}

.about-text {
    padding-bottom: 48px;
}

.carousel-gallery {
    width: 640px;
    overflow: hidden;
    margin: 0 auto;
    padding-bottom: 3rem;
}
.carousel-item {
    border-radius: 25px;
}
/* end of about section styles */
/* location section styles  */
#location {
    background-color: #f0ebdd;
}

.location-img {
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
    margin-bottom: 25px;
    object-fit: cover;
}

.location {
    text-align: center;

    /* NEED TO GIVE A GAP BETWEEN EACH CARD BEFORE APPLYING SHADOW */
    /* box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07); */
}

.location>p:not(:last-child) {
    margin-bottom: 0.4rem;
}

.location>p {
    font-size: 1.2rem;
    color: #221c1b;
}

h3 {
    font-size: 1.6rem;
    margin-bottom: 10px;
}

/* menu styles */
.menu-list {
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.15);
    border: 2px solid #221c1b;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 2rem !important;
    width: 400px;
    margin-top: 20px;
}
.menu-list h3 {
    text-align: left;
    padding: 0 0 1rem 0;
}
.coffee {
    margin-left: 200px;
}

.cake {
    margin-right: px;
}


.item {
    display: flex;
    justify-content: space-between;
}


h3 {
    padding: 10px;
    text-align: center;
    text-decoration: underline;
}
#menu > p {
    text-align: center;
    font-style: italic;
}
.fas {
    color: green;
}
/* reviews */
.user-review{
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
}

.review {
    padding: 10px;
}

.review:nth-child(1) {
    margin-bottom: 10px
}
.review:nth-child(2) {
    margin-bottom: 40px;
}
.review:nth-child(3) {
    padding-bottom: 48px;
}
.review:nth-child(4) {
    padding-bottom: 48px;
}
/* FORM STYLES */
.form-input {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px 40px;
    border: 2px solid #221c1b;
    background-color: #221c1b;
    color: white;
    border-radius: 15px;
    margin-bottom: 48px;
}
.loyalty-subheading {
    text-align: center;
}
.form-input > p {
    margin-bottom: 8px; 
}
.form-input > h3 {
    text-decoration: none;
    padding: 5px;
    margin-bottom: 0;
}
.form-location {
    text-align: left;
}
label {
    padding-left: 2px;
    margin-bottom: 5px;
}
input {
    background-color: #f0ebdd !important;
}
input[type=text] {
    margin-bottom: 15px;
}
.button {
   text-align: center;
}
.btn {
 background-color: #f0ebdd;
 color: #221c1b;
 padding: 4px 8px;
}


/* Media queries  */
@media (max-width:800px) {
    #carouselExampleControls {
        display: none;
    }
}

@media only screen and (max-width: 1200px) {
    .coffee {
        margin-left: 150px;
    }
    
    .cake {
        margin-right: 150px;
    }

}
@media only screen and (max-width: 990px) {

    .coffee,
    .cake {
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 990px) {
    .review:not(:last-child) {
        margin-bottom: 10px;
    }
    .review:nth-child(odd){
        display:none;
    }
}



