@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Robotor:wght@500&display=swap');

body {
    font-family: Roboto, sans-serif;
    
}

.navbar {
    background-color: #221c1b;
}
.navbar-brand, .nav-link {
    color: #f0ebdd !important;
}
/* Hero section */
.dark-bg {
    background-image: linear-gradient(rgba(0,0,0, 0.4), rgba(0,0,0, 0.4)), url("/images/extraction.png");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.hero .container {
    height: 100vh;
}


.hero-container {
    color:  #f0ebdd !important;
}
h1 {
    font-size: 4rem;
    font-weight: 700;
}

/* End of Hero section styles */

/* About section styles */

#about {
    background-color: #f0ebdd;
}
h2 {
    color: #221c1b;
    text-align: center;
    text-decoration: underline;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 50px;
}

h2 + p {
    text-align: center;
    font-size: 1.5em;
}
.about-text {
    padding-bottom: 48px;
}
.carousel { 
    width:640px; 
    height:460px;
    overflow: hidden;
    margin: 0 auto;
}
/* end of about section styles */
/* location section styles  */
#location {
    background-color: #f0ebdd;    
}
.location-img {
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
    margin-bottom: 25px;
    object-fit: cover;
}
.location {
    text-align: center;
    
    /* NEED TO GIVE A GAP BETWEEN EACH CARD BEFORE APPLYING SHADOW */
    /* box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07); */
}
.location > p:not(:last-child) {
    margin-bottom: 0.4rem;
}
.location > p {
    font-size: 1.2rem;
    color:#221c1b;
}
h3 {
    font-size: 1.6rem;
    margin-bottom: 10px;
}
/* menu styles */


.menu {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
  }
  
  .item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
  }
  
  .coffee {
    text-align: left;
    width: 40%;
  }
  
  .price {
    text-align: right;
  }

  /* Media queries  */
  @media (max-width:800px) {
    #carouselExampleControls{
        display:none;
    }
}