@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto&display=swap');

body {
    font-family: Roboto, sans-serif;
}

.navbar {
    background-color: #181413;
}
/* Hero section */
.dark-bg {
    background-image: linear-gradient(rgba(0,0,0, 0.4), rgba(0,0,0, 0.4)), url("/images/extraction.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#hero .container {
    height: 100vh;
}


.hero-container {
    color:  #FAF9F6 !important;
}
h1 {
    font-size: 4rem;
    font-weight: 700;
}

/* Hero section */